<div class="logo-area">
    <i class="fa-solid fa-layer-group"></i>
    Créalab
</div>

<ul class="nav-links">
    <li>
        <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
            <i class="fa-solid fa-chart-pie"></i> Dashboard
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-item" href="printers">
            <i class="fa-solid fa-print"></i> Imprimantes
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-item" href="history">
            <i class="fa-solid fa-clock-rotate-left"></i> Historique
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-item" href="members">
            <i class="fa-solid fa-users"></i> Membres
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-item" href="admin">
            <i class="fa-solid fa-gear"></i> Admin
        </NavLink>
    </li>
</ul>