<div class="logo-area">
    <i class="fa-solid fa-layer-group"></i>
    Créalab
</div>

<ul class="nav-links" id="private-navmenu">
    <li>
        <NavLink class="nav-item" href="private/" Match="NavLinkMatch.All">
            <i class="fa-solid fa-chart-pie"></i> Dashboard
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-item" href="private/printers">
            <i class="fa-solid fa-print"></i> Imprimantes
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-item" href="private/history">
            <i class="fa-solid fa-clock-rotate-left"></i> Historique
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-item" href="private/members">
            <i class="fa-solid fa-users"></i> Membres
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-item" href="private/admin">
            <i class="fa-solid fa-gear"></i> Admin
        </NavLink>
    </li>
</ul>