<div class="logo-area">
    <i class="fa-solid fa-layer-group"></i>
    Créalab
</div>

<ul class="nav-links" id="public-navmenu">
    <li>
        <NavLink class="nav-item" href="public" Match="NavLinkMatch.All">
            <i class="fa-solid fa-building"></i> Présentation
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-item" href="public/request">
            <i class="fa-solid fa-code-pull-request"></i> Demande
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-item" href="public/pix">
            <i class="fa-solid fa-hand"></i> PIX
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-item bottom-zone" href="public/contact">
            <i class="fa-solid fa-address-card"></i> Contacter
        </NavLink>
    </li>
</ul>