@page "/"


<PageTitle>Créalab - Dashboard</PageTitle>

<div class="main-container theme-industrial">
    <header class="header">
        <div class="titles">
            <h1>Bienvenue au Créalab</h1>
            <p>Résumé des activités et informations importantes</p>
        </div>
    </header>

    <div class="kpi-row">
        <div class="kpi-card">
            <div class="kpi-icon kpi-blue"><i class="fa-solid fa-users"></i></div>
            <div class="kpi-content">
                <h3>12</h3>
                <p>Membres présents</p>
            </div>
        </div>
        <div class="kpi-card">
            <div class="kpi-icon kpi-magenta"><i class="fa-solid fa-print"></i></div>
            <div class="kpi-content">
                <h3>3/5</h3>
                <p>Imprimantes actives</p>
            </div>
        </div>
        <div class="kpi-card">
            <div class="kpi-icon kpi-orange"><i class="fa-solid fa-triangle-exclamation"></i></div>
            <div class="kpi-content">
                <h3>1</h3>
                <p>Incident signalé</p>
            </div>
        </div>
    </div>

    <div class="dashboard-layout">
        <div class="col-left">

            @if(latestAnnouncement != null)
            {
                <AnnouncementWidget announcement="@latestAnnouncement" />
            }

            <div class="widget-card">
                <div class="widget-title">
                    <span><i class="fa-solid fa-graduation-cap"></i> Formations à venir</span>
                    <a href="#" style="font-size: 0.8rem; color: var(--primary-blue);">Voir tout</a>
                </div>

                @if(FormationsList != null && FormationsList.Count != 0){
                    @foreach (var formation in FormationsList)
                    {
                        <FormationWidget Formation="@formation" />
                    }
                }
                else
                {
                    <div class="state-message empty">
                        <h3>Aucune formation planifiée</h3>
                        <p>Laissez nous le temps de préparer un sandwich.</p>
                    </div>
                }

            
            </div>
        </div>

        <div class="col-right">
            @if(NextEvent != null)
            {
                <EventWidget Event="@NextEvent" />
            }
            
            <div class="widget-card">
                <div class="widget-title">
                    <span><i class="fa-solid fa-screwdriver-wrench"></i> Matériel</span>
                </div>
                <ul style="list-style: none; padding: 0;">
                    <li style="display: flex; justify-content: space-between; margin-bottom: 10px; font-size: 0.9rem;">
                        <span><i class="fa-solid fa-check" style="color: var(--status-success);"></i> Découpeuse Laser</span>
                        <span style="font-weight: bold; color: var(--status-success);">OK</span>
                    </li>
                    <li style="display: flex; justify-content: space-between; margin-bottom: 10px; font-size: 0.9rem;">
                        <span><i class="fa-solid fa-check" style="color: var(--status-success);"></i> Imprimante Résine</span>
                        <span style="font-weight: bold; color: var(--status-success);">OK</span>
                    </li>
                    <li style="display: flex; justify-content: space-between; margin-bottom: 10px; font-size: 0.9rem;">
                        <span><i class="fa-solid fa-triangle-exclamation" style="color: var(--status-warning);"></i> CNC</span>
                        <span style="font-weight: bold; color: var(--status-warning);">En maintenance</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
@code {

    // SOURCE LIST
    private List<Formation>? FormationsList;
    private List<Announcement>? AllAnnouncements;
    private List<Event>? Events;

    // MISCELLANOUS
    private Announcement? latestAnnouncement;
    private Event? NextEvent;

    protected override void OnInitialized()
    {
        LoadMockData();
        GetLastAnnouncement();
        GetNextEvent();
    }

    private void LoadMockData()
    {
        FormationsList = new List<Formation>
        {
            new Formation
            {
                Id = 1,
                Title = "Initiation Impression 3D (FDM)",
                Description = "Apprenez les bases du tranchage (Slicer) et lancez votre première impression sur Bambu Lab A1.",
                Instructor = "Alex (Resp. Technique)",
                Date = new DateOnly(2023, 11, 14),
                StartTime = new TimeOnly(14, 00),
                Duration = TimeSpan.FromHours(2)
            },
            new Formation
            {
                Id = 2,
                Title = "Sécurité & Utilisation Découpeuse Laser",
                Description = "Formation obligatoire pour utiliser la Trotec en autonomie. Apportez vos fichiers DXF.",
                Instructor = "Sarah",
                Date = new DateOnly(2023, 11, 18),
                StartTime = new TimeOnly(10, 00),
                Duration = TimeSpan.FromHours(2)
            },
            new Formation
            {
                Id = 3,
                Title = "Atelier Cosplay : Armures & Props",
                Description = "Introduction au travail de la mousse EVA et du Worbla. Focus sur les techniques de peinture et vieillissement.",
                Instructor = "Responsable Partenariat",
                Date = new DateOnly(2023, 11, 22),
                StartTime = new TimeOnly(17, 30),
                Duration = TimeSpan.FromHours(3)
            },
            new Formation
            {
                Id = 4,
                Title = "Initiation Soudure & PCB",
                Description = "Bases de la soudure à l'étain et réparation de petits composants électroniques.",
                Instructor = "Pole Élec",
                Date = new DateOnly(2023, 11, 25),
                StartTime = new TimeOnly(13, 00),
                Duration = TimeSpan.FromHours(1.5)
            }
        };

        AllAnnouncements = new List<Announcement>
        {
            new Announcement
            {
                Id = 1,
                Title = "Fermeture exceptionnelle",
                Message = "Le Fablab fermera ses portes plus tôt ce vendredi (17h00) pour l'inventaire trimestriel. Merci de libérer les établis.",
                Severity = AnnouncementSeverity.Danger,
                PublishDate = DateTime.Now.AddDays(-1),
                DisplayDuration = TimeSpan.FromDays(3)
            },

            new Announcement
            {
                Id = 2,
                Title = "Maintenance CNC",
                Message = "La fraiseuse numérique est en cours de calibrage suite à un changement de broche. Indisponible jusqu'à nouvel ordre.",
                Severity = AnnouncementSeverity.Warning,
                PublishDate = DateTime.Now.AddHours(-4),
                DisplayDuration = TimeSpan.FromHours(48)
            },

            new Announcement
            {
                Id = 3,
                Title = "Arrivage de PLA",
                Message = "Nous avons reçu les nouvelles bobines (PLA Mat & PETG) ! N'oubliez pas de peser vos impressions.",
                Severity = AnnouncementSeverity.Info,
                PublishDate = DateTime.Now.AddDays(-2),
                DisplayDuration = TimeSpan.FromDays(7)
            },

            new Announcement
            {
                Id = 4,
                Title = "Pizza Party de rentrée",
                Message = "C'était sympa !",
                Severity = AnnouncementSeverity.Info,
                PublishDate = DateTime.Now.AddDays(-10),
                DisplayDuration = TimeSpan.FromDays(1)
            }
        };

        Events = new List<Event>
        {
            new Event
            {
                Id = 1,
                Title = "Hackathon ESILV",
                Description = "Thème : 'Smart Campus'. Venez coder en équipe !",
                Date = DateTime.Now.AddDays(12), // Dans 12 jours
                IconClass = "fa-rocket",
                Location = "Atrium"
            },
             new Event
            {
                Id = 2,
                Title = "Soirée Jeux & Pizza",
                Description = "Détente après les partiels au foyer.",
                Date = DateTime.Now.AddDays(25),
                IconClass = "fa-pizza-slice",
                Location = "Foyer"
            },
            new Event
            {
                Id = 3,
                Title = "Workshop Ancien",
                Description = "C'est fini.",
                Date = DateTime.Now.AddDays(-5), // Passé
                IconClass = "fa-history"
            }
        };
    }

    private void GetLastAnnouncement()
    {
        if(AllAnnouncements != null && AllAnnouncements.Count != 0)
        {
            latestAnnouncement = AllAnnouncements
            .Where(a => a.IsActive)  
            .OrderByDescending(a => a.PublishDate)
            .OrderByDescending(a => a.Severity)
            .FirstOrDefault();
        }
    }

    private void GetNextEvent()
    {
        if(Events != null && Events.Count != 0)
        {
            NextEvent = Events
            .Where(e => e.IsUpcoming)
            .OrderBy(e => e.Date)
            .FirstOrDefault();
        }
        
    }

}
